html, body {
  height 100%;
  //background dark1;
}
body {
  margin 0;
}
body {
  font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -ms-overflow-y auto !important
  font-size 14px
  color black;
  font-weight 300;
}

* {
  box-sizing border-box;
}

#app-container {
  height 100%;
}

a {
  text-decoration none;
  cursor pointer;
  color white;
  &:hover {
    color darken(white, 20%);
  }
}