.docs-layout > .main > .docs-route.content {

  padding 15px;
  font-weight 300;
  letter-spacing 0.5px;

  h1 {

  }

  p {
    color: #34495e;
  }

  pre {
    font-size 12px;
    padding 10px 15px;

    code {
      font-family "Roboto Mono", Monaco, courier, monospace !important;
    }
  }

  @media screen and (min-width: 768px) {
    padding-left 48px;
  }
  p code {
    padding: 3px 5px;
    border-radius: 2px;
    margin: 0 2px;
    background #efefef;
    color #e96900;
    white-space nowrap;
    line-height 1.6em;
    font-size: 0.8em;
  }

  pre:not(.hljs) {
    background #282b2e;
    color: #a9b7c6;
    //border-radius 3px;
    overflow auto;
    //padding 8px 12px;
    code {
      background none;
      border none;
      padding 0;
      border-radius 0;
    }
  }

  a {
    color #395799;
    font-weight 600;

    &:hover {
      color lighten(#395799, 30%);
    }


  }
}