.docs-layout {
  height 100%;
  & > .main {
    max-width 1170px;
    margin 0 auto;
    position relative;
    height 100%;

    @media screen and (min-width: 768px) {
      padding-left 292px;
    }

    & > .left-panel {
      display none;

      @media screen and (min-width: 768px) {
        display block;

        position: absolute;
        top: 0;
        left: 0;
        width: 292px;
        height 100%;

        padding-top 15px;
      }
    }
    & > .content {
      max-height 100%;
      overflow-y auto;

      padding 15px;
    }
    & > .right-panel {

    }
  }
}