.docs-route.content {
  .demo {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 25px 35px;
    margin-top: 1em;
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.5em;
    background: #f1f1f1;
  }
}