.docs-route.content {
  .demo {

    border: 1px solid #eee;
    border-radius: 2px;
    padding: 25px 35px;
    margin-top: 1em;
    margin-bottom: 40px;
    font-size: 1em;
    line-height: 1.5em;
    background: #f1f1f1;

    input:not([type=checkbox]) {
      height 26px;
      line-height 24px;
      border 1px solid grey;
      outline none;
      padding 0 9px;
      border-radius 3px;
      box-shadow inset 1px 1px 3px rgba(black, 0.3);

      &:focus {
        border-color #0f4ee0;
      }
    }

    .text-error {
      color: #ec3e43;
    }
  }
}