.layout > .header {
  position fixed;
  top 0;
  left 0;
  width 100%;
  height 64px;
  padding-top 10px;

  .line {
    .left {
      .icon {

      }

      .nav-item {

        &:hover {

        }

        &.active {

        }
      }
    }
    .right {

    }
  }
}