.docs-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction column;

  @media screen and (min-width: 768px) {
    flex-direction row;
  }

  & > .nav-panel {
    flex: 0 0 auto;

    @media screen and (min-width: 768px) {
      position: sticky;
      top: 64px;
      height calc(100vh - 64px);
      flex: 0 1 30%;

      padding-top 15px;

      border-right 1px solid rgba(0,0,0,.1);
    }
    @media screen and (min-width: 1050px) {
      flex: 0 1 20%;
    }
  }
  & > .content {
    flex: 1 0;

    padding 15px;
  }
  & > .right-panel {

    @media screen and (min-width: 1050px) {
      position: sticky;
      top: 64px;
      height calc(100vh - 64px);
      flex: 0 1 17%;
    }
  }
}